/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--text-weight, 410);
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--background-gradient);
}

.header {
  font-family: var(--accent-font), fantasy;
  margin-bottom: 96px;
  margin-top: 100px;
}

.header__container {
  padding-block-start: clamp(122px, 7.4489rem + 0.7512vw, 130px);
  padding-block-end: clamp(122px, 7.4489rem + 0.7512vw, 130px);
  min-inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  gap: 20px;
  border: var(--header-border);
  line-height: 1;
}

.container-size {
  inline-size: clamp(375px, 50vw, 700px);
  background-color: var(--back-color);
  margin-inline: auto;
}

.header__logo {
  font-size: clamp(3.063rem, 2.7109rem + 1.5023vw, 4.063rem);
  font-weight: 400;
  align-self: center;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.226rem + 2.7692cqi, 1.4375rem);
  font-weight: 400;
  align-self: center;
  line-height: 1;
  text-transform: uppercase;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 49px;
}

.card {
  border: var(--card-border);
}

.card__title {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-variation-settings: 'wght' var(--title-weight, 715);
  padding: 4px 10px;
  line-height: 1.25;
}

.card__image-container {
  position: relative;
  border-top: var(--card-border);
  border-bottom: var(--card-border);
}

.img__filter-gray-scale {
  filter: grayscale(0.75);
}

.img__filter-brightness {
  filter: brightness(210%);
}

.img__filter-invert {
  filter: invert(0.7) contrast(1) brightness(110%);
}

.img__filter-warm {
  filter: sepia(20%) hue-rotate(0.1turn);
}

.img__filter-sepia {
  filter: sepia(80%);
}

.img__filter-blur {
  filter: blur(0.6rem);
}

.img__mixed-colors {
  filter: hue-rotate(0.2turn) blur(0.1rem);
}

.watermark {
  position: absolute;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  opacity: 50%;
  mix-blend-mode: hard-light;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: normal;
  z-index: 2;
  text-shadow: -1px -1px var(--stroke-color), 1px  1px var(--stroke-color);
}

@supports ((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .watermark {
    text-stroke: 1px var(--stroke-color);
    -webkit-text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--text-weight, 410);
}

.card-image {
  object-position: center center;
  object-fit: cover;
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  align-content: center;
}

.card__like-button {
  background-color: var(--back-color);
  cursor: pointer;
  inline-size: 130px;
  block-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.button__text {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 90%;
  z-index: 2;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.card__icon-button {
  background-color: var(--back-color);
  cursor: pointer;
  border: solid transparent 2px;
  transition: border 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: solid var(--button-effect) 2px;
}

.button {
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button:focus { 
  outline: none; 
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--button-effect); 
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  background-color: var(--button-effect);
}

.button:hover::before {
  transform: scaleX(1);
}

.like-icon {
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.is-liked .heart {
  transform-origin: center;
  animation: heart-animation 0.3s 0.1s ease-in;
}

.is-liked .sparks {
  animation: sparkles 0.3s 0.3s ease-in;
}

.floppy-button {
  z-index: 2;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  width: 21px;
  height: 21px;
}

.button-save {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 17px 20px;
    margin: auto;
    margin-top: 49px;
    font-family: var(--accent-font), fantasy;
    font-size: 14px;
    line-height: 90%;
    margin-bottom: 100px;
    background-color: var(--back-color);
    border: var(--card-border);
}

.dialog {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--card-border);
  width: clamp(343px, 21.2614rem + 0.7512vw, 351px);
}

.dialog::backdrop {
  backdrop-filter: brightness(25%);
} 

.dialog:not([open]) {
  position: fixed;
  pointer-events: none;
  opacity: 0;
  inset: 0;
}

.section-dialog {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.text-dialog {
    align-self: center;
    font-family: var(--accent-font), fantasy;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 150%;
    text-wrap: wrap;
}

.dialog-button {
  background-color: var(--back-color);
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  block-size: 38px;
  inline-size: 100%;
  line-height: 0.9;
}

.floppy-dialog {
  width: 82px;
  height: 39px;
  fill: currentColor;
} 

@media (width < 376px) {

  .header {
    margin-bottom: 98px;
  }

  .button-save {
    flex-direction: column;
  }

  .floppy-button {
     width: 28px;
     height: 28px;
 }

 .dialog {
    padding-left: 40px;
    padding-right: 40px;
}
}